.venv/
venv/
__pycache__/
*.pyc
.idea/
.DS_Store

# Ignorar el archivo de configuración de base de datos específico
config/db.json

# Ignorar el directorio de datos aloha2cop
data/aloha2cop/
*.hdf5

